apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:4.0.16
          ports:
            - containerPort: 8989
          env:
            - name: PUID
              value: "568"
            - name: PGID
              value: "568"
            - name: TZ
              value: "Europe/Moscow"
            - name: http_proxy
              value: "http://xray.infra.svc.cluster.local:10808"
            - name: https_proxy
              value: "http://xray.infra.svc.cluster.local:10808"
            - name: ALL_PROXY
              value: "socks5://xray.infra.svc.cluster.local:10809"
            - name: NO_PROXY
              value: "transmission.apps.svc.cluster.local,jackett.apps.svc.cluster.local,10.43.*"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /mnt
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /ping
              port: 8989
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /ping
              port: 8989
            initialDelaySeconds: 30
            periodSeconds: 30
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-config-pvc
        - name: media
          persistentVolumeClaim:
            claimName: sonarr-media-pvc
