apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus-pushgateway
  namespace: monitoring
  labels:
    app: prometheus-pushgateway
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: prometheus-pushgateway
  endpoints:
    - port: http
      path: /metrics
      interval: 30s


