apiVersion: apps/v1
kind: Deployment
metadata:
  name: tika
  namespace: apps
  labels:
    app.kubernetes.io/name: tika
    app.kubernetes.io/part-of: paperless
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tika
  template:
    metadata:
      labels:
        app: tika
        app.kubernetes.io/name: tika
        app.kubernetes.io/part-of: paperless
    spec:
      containers:
        - name: tika
          image: ghcr.io/paperless-ngx/tika:2.9.1-full
          ports:
            - containerPort: 9998
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
