apiVersion: v1
kind: ConfigMap
metadata:
  name: blocky-config
  namespace: apps
data:
  config.yaml: |
    upstream:
      default:
        - 1.1.1.1
        - 1.0.0.1
        - 8.8.8.8
        - 8.8.4.4
    
    blocking:
      blackLists:
        adguard-dns:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
        adaway:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt
        hagezi-normal:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_34.txt
        adguard-popup:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_59.txt
        easylist-rus:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_3.txt
        easylist-dutch:
          - https://easylist-downloads.adblockplus.org/easylistdutch+easylist.txt
      clientGroupsBlock:
        default:
          - adguard-dns
          - adaway
          - hagezi-normal
          - adguard-popup
          - easylist-rus
          - easylist-dutch
    
    whitelist:
      - lgthinq.com
    
    conditional:
      rewrites:
        - domain: ".home"
          answer: "10.0.0.2"
        - domain: "films.progist.ru"
          answer: "10.0.0.2"
        - domain: "bigb.home"
          answer: "10.0.0.4"
        - domain: "vps.home"
          answer: "10.0.0.10"
        - domain: "direct.router.home"
          answer: "10.0.0.1"
        - domain: "pc.home"
          answer: "10.0.0.100"
        - domain: "wvps.home"
          answer: "10.0.0.11"
        - domain: "vps.spb"
          answer: "10.8.0.2"
        - domain: "vps.amsterdam"
          answer: "10.8.0.3"
        - domain: "vps.yolki"
          answer: "10.3.0.2"
    
    port: 53
    httpPort: 4000
    
    log:
      level: info
      format: text
      timestamp: true
    
    prometheus:
      enable: true
      path: /metrics

