apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      nodeSelector:
        node.hardware.gpu: intel-igpu
      tolerations:
        - key: node.hardware.gpu
          operator: Equal
          value: intel-igpu
          effect: NoSchedule

      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        supplementalGroups:
          - 568
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.5
          ports:
            - containerPort: 8096
          env:
            - name: TZ
              value: Europe/Moscow
            - name: JELLYFIN_PublishedServerUrl
              value: "films.progist.ru"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: media
              mountPath: /media
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
              gpu.intel.com/i915: "1"
            limits:
              cpu: "4"
              memory: "6Gi"
              gpu.intel.com/i915: "1"
          livenessProbe:
            httpGet:
              path: /health
              port: 8096
            initialDelaySeconds: 20
            periodSeconds: 30

          readinessProbe:
            httpGet:
              path: /health
              port: 8096
            initialDelaySeconds: 10
            periodSeconds: 15

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc
        - name: cache
          persistentVolumeClaim:
            claimName: jellyfin-cache-pvc
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-media-pvc
            