apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-exporter
  template:
    metadata:
      labels:
        app: redis-exporter
    spec:
      containers:
        - name: redis-exporter
          image: oliver006/redis_exporter:v1.80.0
          ports:
            - containerPort: 9121
          env:
            - name: REDIS_ADDR
              value: redis.apps.svc.cluster.local:6379
          resources:
            requests:
              cpu: "50m"
              memory: "16Mi"
            limits:
              cpu: "200m"
              memory: "64Mi"
            