# traefik-config.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    service:
      spec:
        externalTrafficPolicy: Local

    additionalArguments:
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=0s"
      - "--entrypoints.web.transport.respondingTimeouts.readTimeout=0s"
      - "--entrypoints.metrics.address=:9100"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--metrics.prometheus.addEntryPointsLabels=true"
      - "--metrics.prometheus.addServicesLabels=true"
