apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: apps
  annotations:
    reconcile.fluxcd.io/recreate: "true"  
data:
  mysqld.cnf: |
    [mysqld]
    user = mysql
    key_buffer_size = 16M
    myisam-recover-options = BACKUP
    server-id = 2
    skip-log-bin
    binlog_expire_logs_seconds = 60
    max_binlog_size = 100M
    replicate-do-db = BonchBotStaging
    replicate-do-db = BonchBotProduction
    replicate-do-db = shortener
    sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
    innodb_flush_log_at_trx_commit = 1
    sync_binlog = 1
    innodb_flush_method = fsync
    # Replication persistence settings for MySQL 8.x
    # In MySQL 8.0+, replication info is stored in tables by default (mysql.slave_master_info, mysql.slave_relay_log_info)
    # Relay log settings
    relay-log = /var/lib/mysql/relay-bin
    relay-log-recovery = 1
    # Automatically start replication on server startup (MySQL 8.0+ syntax)
    skip-replica-start = 0
