apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: apps
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
      annotations:
        k8up.io/backupcommand: 'sh -c ''MYSQL_PWD="$MYSQL_ROOT_PASSWORD" mysqldump --user=root --host=localhost --single-transaction --quick --all-databases'''
        k8up.io/file-extension: .sql
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.storage.mount.mysql
                    operator: In
                    values:
                      - "true"
      containers:
        - name: mysql
          image: mysql:8.4.7
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secrets
                  key: root-password
            - name: TZ
              value: Europe/Moscow
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
            - name: config
              mountPath: /etc/mysql/conf.d/99-custom.cnf
              subPath: mysqld.cnf
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "2"
              memory: "2Gi"
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-data-pvc
        - name: config
          configMap:
            name: mysql-config
