apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      containers:
        - name: nextcloud
          image: nextcloud:32.0.2-apache
          ports:
            - containerPort: 80
          env:
            - name: POSTGRES_HOST
              value: postgres.apps.svc.cluster.local
            - name: POSTGRES_USER
              valueFrom: 
                secretKeyRef: 
                  name: nextcloud-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_DB
              valueFrom: 
                secretKeyRef: 
                  name: nextcloud-secrets
                  key: POSTGRES_DB
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: POSTGRES_PASSWORD
            - name: APACHE_DISABLE_REWRITE_IP
              value: "1" 
            - name: TRUSTED_PROXIES
              value: "10.42.0.0/16 10.43.0.0/16" 

            # - name: REDIS_HOST
            #   value: redis/5
          volumeMounts:
            - name: html
              mountPath: /var/www/html
            - name: data
              mountPath: /var/www/html/data
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "2"
              memory: "512Mi"
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - 'curl -f http://localhost/status.php || exit 1'
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - 'curl -f http://localhost/ || exit 1'
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: nextcloud-data-pvc
        - name: html
          persistentVolumeClaim:
            claimName: nextcloud-html-pvc
