apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: ratelimit-media
  namespace: infra
spec:
  rateLimit:
    average: 50
    burst: 100
    sourceCriterion:
      ipStrategy:
        depth: 0

