apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-runner
  namespace: gitlab
  labels:
    app: gitlab-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab-runner
  template:
    metadata:
      labels:
        app: gitlab-runner
    spec:
      containers:
      - name: gitlab-runner
        image: gitlab/gitlab-runner:v18.1.2
        env:
        - name: DOCKER_HOST
          value: "tcp://localhost:2376"
        volumeMounts:
        - name: config
          mountPath: /etc/gitlab-runner
        - name: workspace
          mountPath: /home/gitlab-runner
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "1"
            memory: "512Mi"
      - name: docker-dind
        image: docker:24-dind
        securityContext:
          privileged: true
        volumeMounts:
        - name: docker-storage
          mountPath: /var/lib/docker
        - name: workspace
          mountPath: /home/gitlab-runner
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "1"
            memory: "2Gi"

      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: gitlab-runner-config-pvc
      - name: docker-storage
        emptyDir: {}
      - name: workspace
        emptyDir: {}