gitlabUrl: http://gitlab.gitlab.svc.cluster.local

concurrent: 4

rbac:
  create: true

runners:
  secret: gitlab-runner-secrets
  config: |
    [[runners]]
      name = "k3s-runner"

      executor = "kubernetes"
      tls-ca-file = "/etc/docker/certs.d/registry.gitlab.home/ca.crt"

      environment = [
        "DOCKER_TLS_CERTDIR=",
        "DOCKER_HOST=tcp://docker:2375",
        "GIT_SSL_CAINFO=/etc/docker/certs.d/registry.gitlab.home/ca.crt"
      ]

      [runners.kubernetes]
        namespace = "gitlab-runner"
        privileged = true
        image = "docker:20.10.16"
        poll_timeout = 600
        
        [[runners.kubernetes.volumes.config_map]]
          name = "home-root-ca"
          mount_path = "/etc/docker/certs.d/registry.gitlab.home"

        [[runners.kubernetes.services]]
          name = "docker:20.10.16-dind"
          alias = "docker"
          command = ["dockerd", "--host=tcp://0.0.0.0:2375", "--tls=false"]
volumes:
  - name: docker-storage
    emptyDir:
      medium: Memory
  - name: workspace
    emptyDir: {}

resources:
  requests:
    cpu: "50m"
    memory: "128Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"
