gitlabUrl: http://gitlab.gitlab.svc.cluster.local

concurrent: 4

rbac:
  create: true

runners:
  secret: gitlab-runner-secrets
  config: |
    [[runners]]
      [runners.kubernetes]
        namespace = "{{.Release.Namespace}}"
        privileged = true
        image = "docker:20.10.16"

        [[runners.kubernetes.volumes.secret]]
          name = "gitlab-root-ca"
          mount_path = "/usr/local/share/ca-certificates"

        [[runners.kubernetes.services]]
          name = "docker:20.10.16-dind"
          alias = "docker"
          command = ["--tls=false"]

          [[runners.kubernetes.services.volumes.secret]]
            name = "gitlab-root-ca"
            mount_path = "/usr/local/share/ca-certificates"
volumes:
  - name: docker-storage
    emptyDir:
      medium: Memory
  - name: workspace
    emptyDir: {}
