gitlabUrl: http://gitlab.gitlab.svc.cluster.local

concurrent: 4

certsSecretName: gitlab-root-ca

rbac:
  create: true

runners:
  secret: gitlab-runner-secrets
  config: |
    [[runners]]
      [runners.kubernetes]
        namespace = "{{.Release.Namespace}}"

        privileged = true

        image = "docker:20.10.16-dind"

        helper_image = "gitlab/gitlab-runner-helper:ubuntu-x86_64-latest"

        [[runners.kubernetes.services]]
          name = "docker"
          alias = "docker"
        [[runners.kubernetes.volumes.secret]]
          name = "gitlab-root-ca"
          mount_path = "/etc/gitlab-runner/certs"


volumes:
  - name: docker-storage
    emptyDir:
      medium: Memory
  - name: workspace
    emptyDir: {}
