apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-data-pv
  labels:
    app.kubernetes.io/name: prometheus
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/zvols/prometheus
  persistentVolumeReclaimPolicy: Retain
  storageClassName: zvol-local
  volumeMode: Filesystem
