apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-data-pv
  labels:
    app: grafana
spec:
  storageClassName: nfs-nvme-manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    path: /mnt/Fast/k3s-data/monitoring/grafana/data
    server: 10.0.0.4
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data-pvc
  namespace: monitoring
  annotations:
    k8up.io/backup: "true"
  labels:
    backup-level: important
spec:
  storageClassName: nfs-nvme-manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeName: grafana-data-pv