apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.1.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: kps-values
      valuesKey: values.yaml
