crds:
  enabled: true
  upgradeJob:
    enabled: true
    backoffLimit: 5
    timeout: 300
    activeDeadlineSeconds: 600

prometheus:
  prometheusSpec:
    query:
      lookbackDelta: 2h
    replicas: 1
    enableAdminAPI: true
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node.storage.mount.prometheus
                  operator: In
                  values:
                    - "true"
    storageSpec:
      volumeClaimTemplate:
        metadata:
          annotations:
            k8up.io/backup: "true"
          labels:
            backup-level: important
        spec:
          storageClassName: zvol-local
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
          selector:
            matchLabels:
              app.kubernetes.io/name: prometheus
    retention: "1y"
    retentionSize: "48GB"
    resources:
      requests:
        cpu: "200m"
        memory: "512Mi"
      limits:
        cpu: "2"
        memory: "4Gi"
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'prober_.*'
        action: drop

alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: 'telegram'
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 2h
      routes:
        # InfoInhibitor должен идти в null receiver, чтобы не шуметь
        - match:
            alertname: InfoInhibitor
          receiver: 'null'
    # Подавление info-алертов когда активен InfoInhibitor
    inhibit_rules:
      - source_match:
          alertname: InfoInhibitor
        target_match:
          severity: info
        equal: ['namespace']
    receivers:
      - name: 'telegram'
        telegram_configs:
          - bot_token: 'redacted'
            chat_id: 'redacted'
      - name: 'email'
        email_configs:
          - to: progist11@gmail.com
            from: redacted
            smarthost: mail.progist.ru:587
            auth_username: redacted
            auth_password: redacted
            require_tls: true
      - name: 'null'

  alertmanagerSpec:
    replicas: 1
    storage:
      volumeClaimTemplate:
        metadata:
          annotations:
            k8up.io/backup: "true"
          labels:
            backup-level: important
        spec:
          storageClassName: nfs-nvme-manual
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
          selector:
            matchLabels:
              app: alert-manager
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
      cert-manager.io/cluster-issuer: root-ca-issuer
      traefik.ingress.kubernetes.io/redirect-entry-point: websecure
      traefik.ingress.kubernetes.io/router.middlewares: infra-redirect-to-https@kubernetescrd
    hosts:
      - alerts.home
    tls:
      - hosts:
          - alerts.home
        secretName: alerts-internal-tls

grafana:
  enabled: true
  envFromSecret: grafana-secrets
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  admin:
    existingSecret: "kps-secrets"
    userKey: admin-user
    passwordKey: admin-password

  persistence:
    enabled: true
    existingClaim: grafana-data-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
      cert-manager.io/cluster-issuer: root-ca-issuer
      traefik.ingress.kubernetes.io/redirect-entry-point: websecure
      traefik.ingress.kubernetes.io/router.middlewares: infra-redirect-to-https@kubernetescrd
    hosts:
      - grafana.home
    tls:
      - hosts:
          - grafana.home
        secretName: grafana-internal-tls

  grafana.ini:
    server:
      root_url: https://grafana.home/
    users:
      allow_sign_up: false
      auto_assign_org: true
      auto_assign_org_role: Viewer
    auth:
      oauth_auto_login: true
      signout_redirect_url: "https://auth.progist.ru/application/o/grafana/end-session/"
    auth.generic_oauth:
      enabled: true
      name: Authentik
      allow_sign_up: true
      client_id: "${OAUTH_CLIENT_ID}"
      client_secret: ${OAUTH_CLIENT_SECRET}
      scopes: openid profile email
      auth_url: https://auth.progist.ru/application/o/authorize/
      token_url: https://auth.progist.ru/application/o/token/
      api_url: https://auth.progist.ru/application/o/userinfo/
      email_attribute_path: email
      login_attribute_path: preferred_username
      name_attribute_path: name
      groups_attribute_path: groups
      role_attribute_path: >
        contains(groups, 'Grafana Admins') && 'Admin' ||
        contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
      allow_assign_grafana_admin: true
    panels:
      disable_sanitize_html: true

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki-gateway.monitoring.svc.cluster.local:80
          isDefault: false
          jsonData:
            maxLines: 1000

kube-state-metrics:
  enabled: true
  rbac:
    extraRules:
      - apiGroups:
          - source.toolkit.fluxcd.io
          - kustomize.toolkit.fluxcd.io
          - helm.toolkit.fluxcd.io
          - notification.toolkit.fluxcd.io
          - image.toolkit.fluxcd.io
        resources:
          - gitrepositories
          - buckets
          - helmrepositories
          - helmcharts
          - ocirepositories
          - kustomizations
          - helmreleases
          - alerts
          - providers
          - receivers
          - imagerepositories
          - imagepolicies
          - imageupdateautomations
        verbs: [ "list", "watch" ]
  customResourceState:
    enabled: true
    config:
      spec:
        resources:
          - groupVersionKind:
              group: kustomize.toolkit.fluxcd.io
              version: v1
              kind: Kustomization
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux Kustomization resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, lastAppliedRevision ]
                  source_name: [ spec, sourceRef, name ]
          - groupVersionKind:
              group: helm.toolkit.fluxcd.io
              version: v2
              kind: HelmRelease
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux HelmRelease resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, history, "0", chartVersion ]
                  chart_name: [ status, history, "0", chartName ]
                  chart_app_version: [ status, history, "0", appVersion ]
                  chart_ref_name: [ spec, chartRef, name ]
                  chart_source_name: [ spec, chart, spec, sourceRef, name ]
          - groupVersionKind:
              group: source.toolkit.fluxcd.io
              version: v1
              kind: GitRepository
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux GitRepository resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, artifact, revision ]
                  url: [ spec, url ]
          - groupVersionKind:
              group: source.toolkit.fluxcd.io
              version: v1
              kind: Bucket
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux Bucket resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, artifact, revision ]
                  endpoint: [ spec, endpoint ]
                  bucket_name: [ spec, bucketName ]
          - groupVersionKind:
              group: source.toolkit.fluxcd.io
              version: v1
              kind: HelmRepository
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux HelmRepository resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, artifact, revision ]
                  url: [ spec, url ]
          - groupVersionKind:
              group: source.toolkit.fluxcd.io
              version: v1
              kind: HelmChart
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux HelmChart resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, artifact, revision ]
                  chart_name: [ spec, chart ]
                  chart_version: [ spec, version ]
          - groupVersionKind:
              group: source.toolkit.fluxcd.io
              version: v1
              kind: OCIRepository
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux OCIRepository resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  revision: [ status, artifact, revision ]
                  url: [ spec, url ]
          - groupVersionKind:
              group: notification.toolkit.fluxcd.io
              version: v1beta3
              kind: Alert
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux Alert resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  suspended: [ spec, suspend ]
          - groupVersionKind:
              group: notification.toolkit.fluxcd.io
              version: v1beta3
              kind: Provider
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux Provider resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  suspended: [ spec, suspend ]
          - groupVersionKind:
              group: notification.toolkit.fluxcd.io
              version: v1
              kind: Receiver
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux Receiver resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  webhook_path: [ status, webhookPath ]
          - groupVersionKind:
              group: image.toolkit.fluxcd.io
              version: v1
              kind: ImageRepository
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux ImageRepository resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  image: [ spec, image ]
          - groupVersionKind:
              group: image.toolkit.fluxcd.io
              version: v1
              kind: ImagePolicy
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux ImagePolicy resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  source_name: [ spec, imageRepositoryRef, name ]
          - groupVersionKind:
              group: image.toolkit.fluxcd.io
              version: v1
              kind: ImageUpdateAutomation
            metricNamePrefix: gotk
            metrics:
              - name: "resource_info"
                help: "The current state of a Flux ImageUpdateAutomation resource."
                each:
                  type: Info
                  info:
                    labelsFromPath:
                      name: [ metadata, name ]
                labelsFromPath:
                  exported_namespace: [ metadata, namespace ]
                  ready: [ status, conditions, "[type=Ready]", status ]
                  suspended: [ spec, suspend ]
                  source_name: [ spec, sourceRef, name ]
  
  serviceMonitor:
    enabled: true
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'kube_(secret|configmap|serviceaccount|role|clusterrole|storageclass).*'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_.*_(generation|resource_version|uid|owner|created)'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_.*_condition'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_(pod_status_phase|pod_status_ready|deployment_status_replicas_available|node_status_ready|persistentvolumeclaim_status_phase)'
        action: keep
  tolerations:
    - key: "gpu"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: "yolki"
      operator: "Exists"
      effect: "NoSchedule"

nodeExporter:
  enabled: true
  tolerations:
    - key: "gpu"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: "yolki"
      operator: "Exists"
      effect: "NoSchedule"
  serviceMonitor:
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'node_(cpu|memory|load|disk|network|filesystem).*'
        action: keep
      
      - sourceLabels: ["__name__"]
        regex: 'node_disk_io_time_seconds_total|node_disk_.*_completed'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: '.*_bucket$|.*_sum$|.*_count$'
        action: drop

prometheusOperator:
  enabled: true

defaultRules:
  disabled:
    KubeControllerManagerDown: true
    KubeSchedulerDown: true
    KubeProxyDown: true
    etcdDatabaseHighFragmentationRatio: true
    etcdDatabaseQuotaLowSpace: true
    etcdExcessiveDatabaseGrowth: true
    etcdGRPCRequestsSlow: true
    etcdHighCommitDurations: true
    etcdHighFsyncDurations: true
    etcdHighNumberOfFailedGRPCRequests: true
    etcdHighNumberOfFailedProposals: true
    etcdHighNumberOfLeaderChanges: true
    etcdInsufficientMembers: true
    etcdMemberCommunicationSlow: true
    etcdMembersDown: true
    etcdNoLeader: true


kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false

coreDns:
  serviceMonitor:
    relabelings:
      - sourceLabels: [__name__]
        regex: ".*"
        action: keep

kubelet:
  serviceMonitor:
    enabled: true

kubeApiServer:
  serviceMonitor:
    enabled: true
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: '.*_bucket$|.*_sum$|.*_count$|.*_total$'
        action: drop
      - sourceLabels: ["__name__"]  
        regex: 'apiserver_storage_|etcd_|workqueue_'
        action: drop
