prometheus:
  prometheusSpec:
    replicas: 1
    enableAdminAPI: true
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    retention: "7d"
    retentionSize: "20GB"
    resources:
      requests:
        cpu: "200m"
        memory: "512Mi"
      limits:
        cpu: "2"
        memory: "4Gi"
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'prober_.*'
        action: drop

alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: 'telegram'
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 2h
      routes: []
    receivers:
      - name: 'telegram'
        telegram_configs:
          - bot_token: 'redacted'
            chat_id: 'redacted'
      - name: 'email'
        email_configs:
          - to: progist11@gmail.com
            from: redacted
            smarthost: mail.progist.ru:587
            auth_username: redacted
            auth_password: redacted
            require_tls: true
      - name: 'null'

  alertmanagerSpec:
    replicas: 1
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: nfs-nvme-manual
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
          selector:
            matchLabels:
              app: alert-manager
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
      cert-manager.io/cluster-issuer: root-ca-issuer
      traefik.ingress.kubernetes.io/redirect-entry-point: websecure
      traefik.ingress.kubernetes.io/router.middlewares: infra-redirect-to-https@kubernetescrd
    hosts:
      - alerts.home
    tls:
      - hosts:
          - alerts.home
        secretName: alerts-internal-tls

grafana:
  enabled: true
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  admin:
    existingSecret: "kps-secrets"
    userKey: admin-user
    passwordKey: admin-password

  persistence:
    enabled: true
    existingClaim: grafana-data-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
      cert-manager.io/cluster-issuer: root-ca-issuer
      traefik.ingress.kubernetes.io/redirect-entry-point: websecure
      traefik.ingress.kubernetes.io/router.middlewares: infra-redirect-to-https@kubernetescrd
    hosts:
      - grafana.home
    tls:
      - hosts:
          - grafana.home
        secretName: grafana-internal-tls

kubeStateMetrics:
  enabled: true
  metricLabelsAllowlist:
    - pods=[app,instance,job,namespace,pod]
    - nodes=[instance,job,node]
    - deployments=[app,instance,job,namespace]
  
  serviceMonitor:
    enabled: true
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'kube_(secret|configmap|serviceaccount|role|clusterrole|storageclass).*'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_.*_(generation|resource_version|uid|owner|created)'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_.*_condition'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: 'kube_(pod_status_phase|pod_status_ready|deployment_status_replicas_available|node_status_ready|persistentvolumeclaim_status_phase)'
        action: keep

nodeExporter:
  enabled: true
  serviceMonitor:
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: 'node_(cpu|memory|load|disk|network|filesystem).*'
        action: keep
      
      - sourceLabels: ["__name__"]
        regex: 'node_disk_io_time_seconds_total|node_disk_.*_completed'
        action: drop
      
      - sourceLabels: ["__name__"]
        regex: '.*_bucket$|.*_sum$|.*_count$'
        action: drop

prometheusOperator:
  enabled: true

defaultRules:
  disabled:
    KubeControllerManagerDown: true
    KubeSchedulerDown: true
    KubeProxyDown: true
    etcdDatabaseHighFragmentationRatio: true
    etcdDatabaseQuotaLowSpace: true
    etcdExcessiveDatabaseGrowth: true
    etcdGRPCRequestsSlow: true
    etcdHighCommitDurations: true
    etcdHighFsyncDurations: true
    etcdHighNumberOfFailedGRPCRequests: true
    etcdHighNumberOfFailedProposals: true
    etcdHighNumberOfLeaderChanges: true
    etcdInsufficientMembers: true
    etcdMemberCommunicationSlow: true
    etcdMembersDown: true
    etcdNoLeader: true


kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false

coreDns:
  serviceMonitor:
    relabelings:
      - sourceLabels: [__name__]
        regex: ".*"
        action: keep

kubelet:
  serviceMonitor:
    enabled: true

kubeApiServer:
  serviceMonitor:
    enabled: true
    metricRelabelings:
      - sourceLabels: ["__name__"]
        regex: '.*_bucket$|.*_sum$|.*_count$|.*_total$'
        action: drop
      - sourceLabels: ["__name__"]  
        regex: 'apiserver_storage_|etcd_|workqueue_'
        action: drop
