apiVersion: v1
kind: ConfigMap
metadata:
  name: kps-values
  namespace: monitoring
data:
  values.yaml: |
    prometheus:
      prometheusSpec:
        replicas: 1
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: local-path
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 10Gi
        retention: "72h"
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "1"
            memory: "2Gi"

    alertmanager:
      enabled: true
      alertmanagerSpec:
        replicas: 1
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: local-path
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 2Gi

    grafana:
      enabled: true
      admin:
        existingSecret: "kps-secrets"
        userKey: admin-user
        passwordKey: admin-password

      persistence:
        enabled: true
        storageClassName: local-path
        accessModes: ["ReadWriteOnce"]
        size: 5Gi
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          cert-manager.io/cluster-issuer: root-ca-issuer
        hosts:
          - host: grafana.home
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - grafana.home
            secretName: grafana-internal-tls

    kubeStateMetrics:
      enabled: true

    nodeExporter:
      enabled: true

    prometheusOperator:
      enabled: true
