apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-rb-config
  namespace: gitlab
  annotations:
    reconcile.fluxcd.io/recreate: "true"
data:
  gitlab.rb: |
    external_url 'https://gitlab.home'
    gitlab_rails['smtp_enable'] = true
    gitlab_rails['smtp_address'] = "10.0.0.2"
    gitlab_rails['smtp_port'] = 30587
    gitlab_rails['smtp_user_name'] = ENV['SMTP_USERNAME']
    gitlab_rails['smtp_password'] = ENV['SMTP_PASSWORD']
    gitlab_rails['smtp_domain'] = "mail.progist.ru"
    gitlab_rails['smtp_authentication'] = "plain"
    gitlab_rails['smtp_enable_starttls_auto'] = true
    gitlab_rails['smtp_openssl_verify_mode'] = 'none'
    gitlab_rails['gitlab_email_enabled'] = true
    gitlab_rails['gitlab_email_from'] = ENV['SMTP_USERNAME']
    gitlab_rails['gitlab_email_display_name'] = 'Gitlab Home'
    gitlab_rails['gitlab_email_reply_to'] = ENV['SMTP_REPLY_TO']
    gitlab_rails['trusted_proxies'] = ['10.0.0.0/24', '10.42.0.0/16', '10.43.0.0/16']
    gitlab_rails['monitoring_whitelist'] = ['127.0.0.0/8', '::1/128', '10.0.0.0/8']
    gitlab_rails['backup_archive_permissions'] = 0666
    gitlab_rails['backup_keep_time'] = 604800
    gitlab_rails['backup_upload_connection'] = {
      :provider => 'Local',
      :local_root => '/mnt/backups'
    }
    gitlab_rails['backup_upload_remote_directory'] = 'gitlab'
    registry_external_url 'https://registry.gitlab.home'
    gitlab_rails['registry_enabled'] = true
    gitlab_rails['registry_path'] = "/mnt/registry"
    gitlab_rails['registry_api_url'] = "https://registry.gitlab.home"
    registry['enable'] = true
    sidekiq['concurrency'] = 3
    nginx['proxy_set_headers'] = {
      "Host" => "$http_host_with_default",
      "X-Forwarded-For" => "$proxy_add_x_forwarded_for",
      "X-Forwarded-Proto" => "https",
      "X-Forwarded-Ssl" => "on",
    }
    nginx['real_ip_trusted_addresses'] = ['10.0.0.0/24', '10.42.0.0/16', '10.43.0.0/16']
    nginx['real_ip_header'] = 'X-Real-IP'
    nginx['real_ip_recursive'] = 'on'
    registry_nginx['enable'] = true
    registry_nginx['proxy_set_headers'] = {
      "Host" => "$http_host",
      "X-Real-IP" => "$remote_addr",
      "X-Forwarded-For" => "$proxy_add_x_forwarded_for",
      "X-Forwarded-Proto" => "https",
      "X-Forwarded-Ssl" => "on"
    }
    registry_nginx['listen_port'] = 80
    registry_nginx['listen_https'] = false
    prometheus['enable'] = false
    prometheus_monitoring['enable'] = true
    letsencrypt['enable'] = false
    gitlab_rails['gitlab_shell_ssh_port'] = 32222
    gitlab_rails['gitlab_shell_ssh_host'] = 'gitlab.home'
    nginx['listen_https'] = false
    nginx['listen_port'] = 80

    gitlab_rails['omniauth_allow_single_sign_on'] = ['openid_connect']
    gitlab_rails['omniauth_sync_email_from_provider'] = 'openid_connect'
    gitlab_rails['omniauth_sync_profile_from_provider'] = ['openid_connect']
    gitlab_rails['omniauth_sync_profile_attributes'] = ['email']
    gitlab_rails['omniauth_auto_sign_in_with_provider'] = 'openid_connect'
    gitlab_rails['omniauth_block_auto_created_users'] = false
    gitlab_rails['omniauth_auto_link_user'] = ['openid_connect']
    
    gitlab_rails['omniauth_providers'] = [
      {
        'name' => 'openid_connect',
        'label' => 'Authentik',
        'args' => {
          'name' => 'openid_connect',
          'scope' => ['openid','profile','email'],
          'response_type' => 'code',
          'issuer' => 'https://auth.home/application/o/gitlab/',
          'discovery' => true,
          'client_auth_method' => 'query',
          'uid_field' => 'preferred_username',
          'send_scope_to_token_endpoint' => true,
          'pkce' => true,
          'client_options' => {
            'identifier' => ENV['OAUTH_CLIENT_ID'],
            'secret' => ENV['OAUTH_CLIENT_SECRET'],
            'redirect_uri' => 'https://gitlab.home/users/auth/openid_connect/callback'
          }
        }
      }
    ]
