apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-rb-config
  namespace: gitlab
  annotations:
    reconcile.fluxcd.io/recreate: "true"
data:
  gitlab.rb: |
    external_url 'https://gitlab.home'
    gitlab_rails['smtp_enable'] = true
    gitlab_rails['smtp_address'] = "10.0.0.2"
    gitlab_rails['smtp_port'] = 30587
    gitlab_rails['smtp_user_name'] = ENV['SMTP_USERNAME']
    gitlab_rails['smtp_password'] = ENV['SMTP_PASSWORD']
    gitlab_rails['smtp_domain'] = "mail.progist.ru"
    gitlab_rails['smtp_authentication'] = "plain"
    gitlab_rails['smtp_enable_starttls_auto'] = true
    gitlab_rails['smtp_openssl_verify_mode'] = 'none'
    gitlab_rails['gitlab_email_enabled'] = true
    gitlab_rails['gitlab_email_from'] = ENV['SMTP_USERNAME']
    gitlab_rails['gitlab_email_display_name'] = 'Gitlab Home'
    gitlab_rails['gitlab_email_reply_to'] = ENV['SMTP_REPLY_TO']
    gitlab_rails['trusted_proxies'] = ['10.0.0.0/24', '10.42.0.0/16', '10.43.0.0/16']
    gitlab_rails['monitoring_whitelist'] = ['127.0.0.0/8', '::1/128', '10.0.0.0/8']
    gitlab_rails['backup_archive_permissions'] = 0666
    gitlab_rails['backup_keep_time'] = 604800
    gitlab_rails['backup_upload_connection'] = {
      :provider => 'Local',
      :local_root => '/mnt/backups'
    }
    gitlab_rails['backup_upload_remote_directory'] = 'gitlab'
    registry_external_url 'https://registry.gitlab.home'
    gitlab_rails['registry_enabled'] = true
    gitlab_rails['registry_path'] = "/mnt/registry"
    registry['enable'] = true
    sidekiq['concurrency'] = 3
    nginx['proxy_set_headers'] = {
      "Host" => "$http_host_with_default",
      "X-Forwarded-For" => "$proxy_add_x_forwarded_for",
      "X-Forwarded-Proto" => "https",
      "X-Forwarded-Ssl" => "on",
    }
    nginx['real_ip_trusted_addresses'] = ['10.0.0.0/24', '10.42.0.0/16', '10.43.0.0/16']
    nginx['real_ip_header'] = 'X-Real-IP'
    nginx['real_ip_recursive'] = 'on'
    registry_nginx['enable'] = true
    registry_nginx['proxy_set_headers'] = {
      "Host" => "$http_host",
      "X-Real-IP" => "$remote_addr",
      "X-Forwarded-For" => "$proxy_add_x_forwarded_for",
      "X-Forwarded-Proto" => "https",
      "X-Forwarded-Ssl" => "on"
    }
    registry_nginx['listen_port'] = 80
    registry_nginx['listen_https'] = false
    prometheus['enable'] = false
    prometheus_monitoring['enable'] = true
    letsencrypt['enable'] = false
    gitlab_rails['gitlab_shell_ssh_port'] = 2222
    gitlab_rails['gitlab_shell_ssh_host'] = 'gitlab.home'

