apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-config-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  nfs:
    path: /mnt/Fast/k3s-data/gitlab/config
    server: 10.0.0.4
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-nvme-manual
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-config-pvc
  namespace: gitlab
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs-nvme-manual
  volumeName: gitlab-config-pv
