apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: authentik-exporter
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobName: authentik-exporter
  scrapeInterval: 15s
  metricsPath: '/metrics'
  scheme: HTTP
  staticConfigs:
  - targets:
    - 'authentik-server-metrics.apps.svc.cluster.local:9300'
    labels:
      group: 'authentik-exporter'
      host: 'k3s'
      location: 'home'
  metricRelabelings:
    - sourceLabels: ["__name__"]
      regex: '.*_bucket$'
      action: drop
    
    - sourceLabels: ["__name__"]
      regex: '.*_created$'
      action: drop
    
    - sourceLabels: ["__name__"]
      regex: '.*_(sum|count)$'
      action: drop
