apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: bonchbot-exporter-production
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobName: bonchbot-exporter-production
  scrapeInterval: 10s
  metricsPath: '/metrics'
  scheme: HTTPS
  authorization:
    type: Bearer
    credentials:
      name: bonchbot-secrets
      key: api-private-key

  staticConfigs:
  - targets:
    - 'bonchbot.ru'
    labels:
      group: 'bonchbot-exporter'
      host: 'beget-vps'
      location: 'spb-beget'
      environment: production
  - targets:
    - 'test.bonchbot.ru'
    labels:
      group: 'bonchbot-exporter'
      host: 'beget-vps'
      location: 'spb-beget'
      environment: staging
