apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: external-nodes
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobName: external-nodes
  scrapeInterval: 15s
  staticConfigs:
  - targets:
    - 'bigb.home:9134'  # zfs-exporter
    labels:
      group: 'external-nodes'
      host: 'home-truenas'
      location: 'home'
      exporter: 'zfs'
      hostname: bigb.home
  - targets:
    - 'bigb.home:9100'  # node-exporter
    labels:
      group: 'external-nodes' 
      host: 'home-truenas'
      location: 'home'
      exporter: 'node'
      hostname: bigb.home
  - targets:
    - 'vps.yolki:9100'
    labels:
      group: 'external-nodes'
      host: 'pi'
      location: 'yolki'
  - targets:
    - 'vps.amsterdam:9100'
    labels:
      group: 'external-nodes'
      host: 'vpn-vps'
      location: 'amsterdam'
  - targets:
    - 'vps.spb:9100'
    labels:
      group: 'external-nodes'
      host: 'beget-vps'
      location: 'spb-beget'
