apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: gitlab-exporter
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobName: gitlab-exporter
  scrapeInterval: 15s
  metrics_path: '/-/metrics'
  scheme: HTTPS
  staticConfigs:
  - targets:
    - 'gitlab.home'
    labels:
      group: 'gitlab-exporter'
      service: 'gitlab' 
      location: 'home'
      environment: 'production'
