apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: gitlab-exporter
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  jobName: gitlab-exporter
  scrapeInterval: 30s
  metricsPath: '/-/metrics'
  scheme: HTTPS
  tlsConfig:
    insecureSkipVerify: true # TODO
  staticConfigs:
  - targets:
    - 'gitlab.home'
    labels:
      group: 'gitlab-exporter'
      service: 'gitlab' 
      location: 'home'
      environment: 'production'
  # metricRelabelings:
  # - sourceLabels: ["__name__"]
  #   regex: '(gitlab_sli(rails_requests_total|sidekiq_jobs_|puma_|transaction_seconds_bucket)|http)'
  #   action: keep
  
  # - sourceLabels: ["__name__"]
  #   regex: '.*_created$|.*_gauge$'
  #   action: drop
  
  # - regex: '(endpoint_id|job_id)'
  #   action: labeldrop