apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssl-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ssl-exporter
  template:
    metadata:
      labels:
        app: ssl-exporter
    spec:
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.0.0.2
      containers:
        - name: ssl-exporter
          image: ribbybibby/ssl-exporter:2.4.3
          args:
            - --config.file=/etc/ssl-exporter/config.yaml
          ports:
            - containerPort: 9219
          volumeMounts:
            - name: config
              mountPath: /etc/ssl-exporter
              readOnly: true
            - name: ca-cert
              mountPath: /etc/ssl/certs
              readOnly: true
          resources:
            requests:
              cpu: "50m"
              memory: "16Mi"
            limits:
              cpu: "500m"
              memory: "64Mi"
      volumes:
        - name: config
          configMap:
            name: ssl-exporter-config
        - name: ca-cert
          configMap:
            name: ssl-exporter-ca
