apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssl-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ssl-exporter
  template:
    metadata:
      labels:
        app: ssl-exporter
    spec:
      containers:
        - name: ssl-exporter
          image: ribbybibby/ssl-exporter:2.4.3
          ports:
            - containerPort: 9219
          resources:
            requests:
              cpu: "50m"
              memory: "16Mi"
            limits:
              cpu: "500m"
              memory: "64Mi"
            