apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: temperature-rules
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  groups:
  - name: temperature
    interval: 5s
    rules:
      - alert: NodeCriticalTemperature
        expr: |
          (
            node_hwmon_temp_celsius > 70
            OR
            smartmon_temperature_celsius_raw_value > 70
            OR  
            nvme_temperature_celsius > 75
          )
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Critical temperature on {{ $labels.instance }}"
          description: |
            {{- if $labels.disk }}
            Disk {{ $labels.disk }} temperature is {{ $value }}°C
            {{- else if $labels.device }}
            Device {{ $labels.device }} temperature is {{ $value }}°C  
            {{- else if $labels.chip }}
            Chip {{ $labels.chip }} temperature is {{ $value }}°C
            {{- else }}
            Temperature sensor {{ $labels.sensor }} is {{ $value }}°C
            {{- end }}

      - alert: NodeHighTemperature  
        expr: |
          (
            node_hwmon_temp_celsius > 60
            OR
            smartmon_temperature_celsius_raw_value > 60
            OR
            nvme_temperature_celsius > 65
          )
        for: 30s
        labels:
          severity: warning
        annotations:
          summary: "High temperature on {{ $labels.instance }}"
          description: |
            {{- if $labels.disk }}
            Disk {{ $labels.disk }} temperature is {{ $value }}°C
            {{- else if $labels.device }}
            Device {{ $labels.device }} temperature is {{ $value }}°C  
            {{- else if $labels.chip }}
            Chip {{ $labels.chip }} temperature is {{ $value }}°C
            {{- else }}
            Temperature sensor {{ $labels.sensor }} is {{ $value }}°C
            {{- end }}