apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      serviceAccountName: portainer
      # hostNetwork: true
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - k3s-pi
      tolerations:
        - key: node.hardware.arch
          operator: Equal
          value: "arm64"
          effect: NoSchedule
      containers:
      - name: portainer
        image: portainer/portainer-ce:2.38.1
        ports:
          - containerPort: 9000
        volumeMounts:
          - name: data
            mountPath: /data
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: portainer-pvc
