apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyseerr
  template:
    metadata:
      labels:
        app: jellyseerr
    spec:
      containers:
        - name: jellyseerr
          image: fallenbagel/jellyseerr:2.7.3
          ports:
            - containerPort: 5055
          env:
            - name: TZ
              value: Europe/Moscow
            - name: LOG_LEVEL
              value: info
            - name: PORT
              value: "5055"
          volumeMounts:
            - name: config
              mountPath: /app/config
            - name: cache
              mountPath: /app/config/cache
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "1"
              memory: "768Mi"

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyseerr-config-pvc
        - name: cache
          persistentVolumeClaim:
            claimName: jellyseerr-cache-pvc
            