apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: apps
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1

  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: home-assistant
          image: homeassistant/home-assistant:2026.1.0
          env:
          - name: HTTP_PROXY
            value: http://xray.infra.svc.cluster.local:10809
          - name: HTTPS_PROXY
            value: http://xray.infra.svc.cluster.local:10809
          - name: NO_PROXY
            value: 10.0.0.0/8,192.168.0.0/16,localhost,127.0.0.1
          ports:
            - containerPort: 8123
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "1.5Gi"
          readinessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: home-assistant-config-pvc
