apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: coredns-config
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: kube-system
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./cluster-addons
  prune: true
  patches:
    - patch: |
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: coredns
          namespace: kube-system
        spec:
          template:
            spec:
              tolerations:
                - key: "gpu"
                  operator: "Equal"
                  value: "true"
                  effect: "NoSchedule"
                - key: "yolki"
                  operator: "Exists"
                  effect: "NoSchedule"
      target:
        kind: Deployment
        name: coredns
        namespace: kube-system
