apiVersion: k8up.io/v1
kind: Schedule
metadata:
  name: backup-critical-hourly
  namespace: apps
spec:
  backend:
     s3:
      endpoint: http://minio.infra.svc.cluster.local:9000
      bucket: k8up-backups
      accessKeyIDSecretRef:
        name: k8up-secrets
        key: access-key
      secretAccessKeySecretRef:
        name: k8up-secrets
        key: secret-key
    repoPasswordSecretRef:
      name: k8up-secrets
      key: password

  backup:
    schedule: "@hourly-random"
    failedJobsHistoryLimit: 2
    successfulJobsHistoryLimit: 0
    tags:
      - "minio"
      - "critical"
    labelSelectors:
      - matchExpressions:
        - key: backup-level
          operator: In
          values:
            - critical
            - hourly

  prune:
    schedule: "0 6 * * *"
    timeZone: "Europe/Moscow"
    keepLast: 12
    keepHourly: 10
    keepDaily: 7
    keepWeekly: 1
    keepMonthly: 0



