apiVersion: k8up.io/v1
kind: Schedule
metadata:
  name: backup-critical-hourly-offsite
  namespace: apps
spec:
  backend:
    b2:
      bucket: progist-k8up
      accountIDSecretRef:
        name: k8up-backblaze-secrets
        key: access-key
      accountKeySecretRef:
        name: k8up-backblaze-secrets
        key: secret-key
    repoPasswordSecretRef:
      name: k8up-backblaze-secrets
      key: password

  backup:
    schedule: "@hourly-random"
    failedJobsHistoryLimit: 2
    successfulJobsHistoryLimit: 0
    promURL: "http://prometheus-pushgateway.monitoring.svc.cluster.local:9091"
    tags:
      - "backblaze"
      - "offsite"
      - "critical"
    labelSelectors:
      - matchExpressions:
        - key: backup-level
          operator: In
          values:
            - critical
            - hourly
      - matchExpressions:
        - key: backup-offsite
          operator: In
          values:
            - "true"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

  prune:
    schedule: "0 6 * * *"
    retention:
      keepLast: 12
      keepHourly: 10
      keepDaily: 7
      keepWeekly: 1
      keepMonthly: 0



