apiVersion: k8up.io/v1
kind: Schedule
metadata:
  name: backup-critical-hourly-root
  namespace: apps
spec:
  backend:
    s3:
      endpoint: http://minio.infra.svc.cluster.local:9000
      bucket: k8up-backups
      accessKeyIDSecretRef:
        name: k8up-secrets
        key: access-key
      secretAccessKeySecretRef:
        name: k8up-secrets
        key: secret-key
    repoPasswordSecretRef:
      name: k8up-secrets
      key: password

  backup:
    schedule: "@hourly-random"
    failedJobsHistoryLimit: 2
    successfulJobsHistoryLimit: 0
    promURL: "http://prometheus-pushgateway.monitoring.svc.cluster.local:9091"
    tags:
      - "minio"
      - "critical"
      - "root"
    labelSelectors:
      - matchExpressions:
        - key: backup-level
          operator: In
          values:
            - critical
            - hourly
      - matchExpressions:
        - key: backup-user
          operator: In
          values:
            - root
    podSecurityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0

  prune:
    schedule: "0 6 * * *"
    retention:
      keepLast: 12
      keepHourly: 10
      keepDaily: 7
      keepWeekly: 1
      keepMonthly: 0



